USE [master]
GO
/****** Object:  Database [Rewards]    Script Date: 11.07.2018 2:12:57 ******/
CREATE DATABASE [Rewards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rewards', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Rewards.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rewards_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Rewards_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rewards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rewards]
GO
USE [Rewards]
GO
/****** Object:  Table [dbo].[medals]    Script Date: 11.07.2018 2:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[material] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_medals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medalsOfPeople]    Script Date: 11.07.2018 2:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medalsOfPeople](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[peopleId] [int] NOT NULL,
	[medalsId] [int] NOT NULL,
 CONSTRAINT [PK_people_medals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[people]    Script Date: 11.07.2018 2:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[surname] [nvarchar](30) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[age] [int] NOT NULL,
	[city] [nvarchar](30) NOT NULL,
	[street] [nvarchar](30) NOT NULL,
	[numberOfHouse] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_people] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[medalsOfPeople]  WITH CHECK ADD  CONSTRAINT [FK_medalsOfPeople_medalsId] FOREIGN KEY([medalsId])
REFERENCES [dbo].[medals] ([id])
GO
ALTER TABLE [dbo].[medalsOfPeople] CHECK CONSTRAINT [FK_medalsOfPeople_medalsId]
GO
ALTER TABLE [dbo].[medalsOfPeople]  WITH CHECK ADD  CONSTRAINT [FK_medalsOfPeople_peopleId] FOREIGN KEY([peopleId])
REFERENCES [dbo].[people] ([id])
GO
ALTER TABLE [dbo].[medalsOfPeople] CHECK CONSTRAINT [FK_medalsOfPeople_peopleId]
GO
USE [master]
GO
